body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #242424;
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: rgb(45, 45, 45);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.time-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #112d1e;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1rem;
    border: 3px solid #3fff72;
}